<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="fr.xgouchet.android.backintime"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/preview"
        android:label="@string/title_app"
        android:theme="@style/BackInTime.Theme">


        <!-- Meta data needed to communicate between the device and any linked wearable -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>
